#globallink {
    width:600px;
    height: auto;
    max-height: 300px;
    max-width: 600px; 
    min-width:100px ;
    overflow:hidden
}
.masthead {
    background-color: #5cb85c;
    cursor: default ;
    opacity: 0.5;
    
  }
.a { 
    width: 200px;
    height: 200px;
    border-radius:80%
}
b:hover{
    color: #ffffff;
    background-color: #FF0000;
}


/*设置容器盒子宽高及内边距*/
.text-hover {
    width: 40rem;
    height: 40rem;
    padding: 2rem 10rem;
}
/*设置图片自适应及不显示的样式*/
.img-hover {
    width: 100%;
    height: aotu;
    padding: 2rem 0;
    display: none;
}
/*设置h2文字鼠标滑过的样式*/
h2:hover{
    color: red;
}
/*设置鼠标滑过h2标签的文字时显示图片*/
h2:hover + .img-hover {
    display: block;
}
